.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 200px;
  }
  
  .card h1 {
    margin-bottom: 2px;
    font-size: 1.5rem;
  }
  
  .card h4 {
    color: #ff9900;
  }
  
  .card p {
    margin-top: 2px;
  }